body { font-family: "Times New Roman", Times, serif; }
table {
    border: 2px solid;
    border-radius: 10px;
    border-color: #66CC66;
    box-shadow: 0px 0px 15px #66CC66;
    margin-left: auto;
    margin-right: auto;
    width: 380;
    border-spacing: 0px;
    border-collapse: separate;
}
input[type="text"],input[type="password"],input[type="file"] { margin: 0; width: 190; }
input[type="text"],input[type="password"] { 
  border: 1px solid;
  border-radius: 9px;
  border-color: #66CC66;
  margin: 1px;
}
a:link,a:visited { color: #339900; }
a:hover { color: #66CC66; }
a:active { color: #000000; }
td:not(:first-child) { text-align: center; }
td:first-child { text-align: right; width: 150; }
tr>td:nth-child(3) { text-align: left; width: 20; color: red; }

tr:first-child,tr:last-child { background-color: #CCFFCC; }
tr:last-child>td:not(:first-child) { text-align: right; }
div.center { text-align: center; color: red; }